
*{
    margin: 0px;

}.list-group-item {
     background: rgba(255, 255, 255, 0.85);
     border: none;
     backdrop-filter: blur(5px);
     transition: all 0.3s ease-in-out;
 }

.list-group-item:hover {
    transform: scale(1.02);
    background: rgba(255, 255, 255, 0.95);
}

.container-card {
    background: rgba(255, 255, 255, 0.15);
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.2);
    backdrop-filter: blur(8px);
}


